<h1>Teams</h1>
<p>Join a team and compete as a group against other teams</p>
<% if current_user.team.nil? %>
<%= button_to "Create a team", new_team_path, {:class => "btn btn-primary", :method => "get"} %>
<% end %>
<table class="table table-condense table-hover">
<thead>
	<tr>
		<th>Team Name</th>
		<th>Captain</th>
	</tr>
</thead>
<% @teams.each do |t| %>
<tr>
<td><%= link_to t.name, team_path(t.id) %></td>
<td><%= t.captain %></td>
</tr>
<% end %>
</table>	