All Activities

<% @activity_records.each do |record| %>
<p>
<%= record.date %>
<%= record.activity.title %>
<%= record.user.namefirst %>
</p>
<% end %>

<%= link_to "Log an activity", new_activity_record_path %>