<div class="text-center">
	<h1>It's a wellness tracker</h1>
	<p>[for complicated wellness competitions]</p>
	<% if user_signed_in? && @user.admin? %>
	<h6><%= link_to "Competition Admin", rails_admin.dashboard_path %> </h6>
	<% end %>
</div>

