<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class = "active"><a href="#individual" role="tab">Individual</a></li>
  <li role="presentation"><a href="#team" role="tab">Team</a></li>
</ul>

<div class = "tab-content">
	<div class = "tab-pane active" id="individual"><%= column_chart @scoreshash %></div>
	<div class = "tab-pane" id="team"><%= column_chart @teamscores %></div>
</div>